WEB3FORMS_ACCESS_KEY=access_key_here


# Or use: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require&channel_binding=require"

IMAGEKIT_PUBLIC_KEY=public_key_here
IMAGEKIT_PRIVATE_KEY=private_key_here
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id

# The image upload field should appear below the sampling name input and the preview should match its width for a polished hover popup card.
